html, body, ul, ol, li
{
    margin: 0;
    padding: 0;
}

html
{
    min-height: 100%;
    min-width: 100%;
}

body
{
    overflow-x: hidden;
}

/* PHOTOGRAPHY */
#photo
{
    display: block;
    overflow: hidden;
    background-color: black;
}

    #photo img
    {
    }

    #photo #leftArrow
    {
        position: absolute;
        top: 48%;
        left: 20px;
        width: 30px;
        height: 30px;
        background-image: url("images/arrow_left.png");
        background-position: 0 -30px;
        cursor: pointer;
        opacity: 0.5;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
    }

        #photo #leftArrow:hover
        {
            background-image: url("images/arrow_left.png");
            opacity: 1;
            background-position: 0 0;
        }


    #photo #rightArrow
    {
        position: absolute;
        top: 48%;
        right: 20px;
        width: 30px;
        height: 30px;
        background-image: url("images/arrow_right.png");
        cursor: pointer;
        opacity: 0.5;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
    }

        #photo #rightArrow:hover
        {
            background-image: url("images/arrow_right.png");
            background-position: 0 -30px;
            opacity: 1;
        }

    #photo #leftPhoto
    {
        display: inline-block;
        background-image: url('images/img01.jpg');
        background-clip: border-box;
        background-size: cover;
        background-position: center;
        width: 49.999%;
        height: 100%;
    }

    #photo #rightPhoto
    {
        display: inline-block;
        background-image: url('http://dentistfingersbird.kset.org/images/img02.jpg');
        background-clip: border-box;
        background-size: cover;
        background-position: center;
        width: 49.999%;
        height: 100%;
    }

/* VIDEO */
#video
{
    display: block;
    overflow: hidden;
    background-color: #fff;
}

    #video iframe
    {
        background-color: #fff;
        height: 100%;
        width: 100%;
        border: none !important;
    }

/* BIO */
#bio
{
    display: block;
    overflow: hidden;
    background-color: black;
}

    #bio #leftBioPhoto
    {
        display: inline-block;
        background-image: url("http://dentistfingersbird.kset.org/images/biO.jpg");
        background-clip: border-box;
        background-size: cover;
        background-position: center;
        width: 49.999%;
        height: 100%;
    }

    #bio #rightBioHolder
    {
        display: inline-block;
        position: relative;
        width: 49.999%;
        height: 100%;
    }

        #bio #rightBioHolder .text
        {
            position: absolute;
            padding: 25px;
            top: 30%;
            left: 20%;
            background-color: #0e0e0e;
            opacity: 0.7;
            color: white;
            font-family: 'Lato', sans-serif;
            font-size: 13px;
            width: 50%;
        }

            #bio #rightBioHolder .text h1
            {
                color: #f8f562;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
            }

/* FOOTER */
#footer
{
    position: fixed;
    float: left;
    height: 50px;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    bottom: 0;
    left: 0;
    color: #fff;
    font-family: Calibri;
    font-size: 16px;
    line-height: 50px;
    -webkit-transition: opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

    #footer:hover
    {
        opacity: 0.65;
        -webkit-box-shadow: 0px 15px 50px 0px rgba(255,255,255,0.5);
        -moz-box-shadow: 0px 15px 50px 0px rgba(255,255,255,0.5);
        box-shadow: 0px 15px 50px 0px rgba(255,255,255,0.5);
    }

    #footer ul
    {
        list-style: none;
        position: absolute;
        right: 120px;
    }

        #footer ul li
        {
            display: inline;
            margin: 0 20px;
        }

            #footer ul li a:link,
            #footer ul li a:visited
            {
                text-decoration: none;
                color: #ededed;
            }

            #footer ul li a:hover,
            #footer ul li a:active
            {
                text-decoration: none;
                color: #fff;
            }

    #footer #twitter
    {
        position: absolute;
        right: 70px;
        top: 8px;
        width: 30px;
        height: 30px;
    }

        #footer #twitter a:link
        {
            display: block;
            width: 30px;
            height: 30px;
            text-decoration: none;
            background-image: url("images/sprite_twitter.png");
        }

    #footer #facebook
    {
        position: absolute;
        right: 35px;
        top: 8px;
        width: 30px;
        height: 30px;
    }

        #footer #facebook a:link
        {
            display: block;
            width: 30px;
            height: 30px;
            text-decoration: none;
            background-image: url("images/sprite_facebook.png");
        }
